.header {
display: flex;
background-color: #1F2937;
}

.logo {
font-size: 24px;
color: #F9FAF8;
}

.landing {

}

ul {
    list-style-type: none; 
}

.large-text {
font-size: 48px;
font-weight: 900;
color: #F9FAF8;
}

.subtext {
font-size: 18px;
color: #E5E7EB;
}

.button {
color: #3882F6;
}